.fon {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-window {
  width: 450px;
  margin: auto;
  padding: 20px 45px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  border-radius: 10px;
  background-color: rgba(245, 247, 243, 1);
  &__close-panel {
    width: 108%;
    display: flex;
    justify-content: flex-end;
  }
  &__close-btn {
    width: 30px;
    height: 30px;
    background-color: rgba(2, 159, 89, 0.2);
    display: flex;
    align-items: center;
    border: 0;
    justify-content: center;
    border-radius: 5px;
    color: #029F59;
    cursor: pointer;
  }
  &__title {
    height: 55px;
  }
  &__name, &__phone, &__message {
    height: 60px;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
  }
  &__message {
    height: 100px;
  }
  &__submit {
    width: 200px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    background-color: #029F59;
    border-radius: 10px;
    p {
      cursor: pointer;
    }
  }
  &__text {
    text-align: center;
    &_color {
      color: #029F59;
      cursor: pointer;
    }
  }
}