{% import _self as macros %}
  {% macro content() %}
  <div class="fon">
    <div class="modal-window">
      <div class="modal-window__close-panel"><button class="modal-window__close-btn">&#10006;</button></div>
      <div class="modal-window__title"><h1>Оставить заявку</h1></div>
      <input class="modal-window__name" type="text" placeholder="   Имя">
      <input class="modal-window__phone" type="tel" placeholder="   Телефон"></input>
      <input class="modal-window__message" type="text" placeholder="   Сообщение">
      <div class="modal-window__submit"><p>Оставить заявку</p></div>
      <div class="modal-window__text">
        <p>Нажимая на кнопку "Отправить", вы<br>
        принимаете <span class="modal-window__text_color">
        пользовательское соглашение</span><br>
        и <span class="modal-window__text_color">
        политику конфиденциальности</span></p></div>
    </div>
  </div>
    <script src="{{ asset('js/header.js') }}"></script>
  {% endmacro %}
{{ macros.content }}