// .container {
//   margin: auto;
//   width: auto;
//   height: 500px;
//   background-color: #fff;
// }

/* Слайдер: */
.slider{
  max-width: 90%;
  /* Положение элемента устанавливается относительно его исходной позиции: */
  position: relative;
  /* Центрируем по горизонтали: */
  margin: 40px 88px 120px 88px;
  height: 300px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
  /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
  object-fit: cover;
  width: 100%;
  height: 450px;
  border-radius: 30px;
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
  /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
  cursor: pointer;
  /* Положение элемента задаётся относительно границ браузера: */
  position: absolute;
  top: 65%;
  width: 50px;
  height: 50px;
  padding: 16px;
  /* Оформление самих кнопок: */
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #029F59;
  /* Плавное появление фона при наведении курсора: */
  transition: 0.6s ease;
  /* Скругление границ: */
  border-radius: 10px;
}
.slider .next {
  right: 15px;
}
.slider .previous {
  left: 15px;
}

.slider-text {
  position: absolute;
  margin: 115px 150px;
  color: #fff;
  &__h1 {
    font-size: 46px;
  }
  &__p{
    margin-top: 12px;
    font-size: 16px;
  }
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
  background-color: #00aa5e;
}

/* Анимация слайдов: */
.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  from {
      opacity: 0.4
  }
  to {
      opacity: 1
  }
}